.masonry__wrapper {
  @apply p-4 ml-auto mr-auto max-w-6xl;
}

.masonry {
  columns: 1;
  column-gap: 10px;
}

.masonry__item {
  @apply inline-block align-top mb-2;
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    columns: 2;
  }
}

@media only screen and (min-width: 1024px) {
  .masonry {
    columns: 2;
  }
}

.masonry__item,
.masonry__content {
  border-radius: 4px;
  overflow: hidden;
}
